html {
    font: inherit;
}

body {
    background-image: url(img/darkNoise.jpg);
    background-color: #000;
    font-family: Tahoma,Arial,sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin: 0px;
    color: #fff;
    user-select: none;
}

#wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

#topbar {
    position: absolute;
    background-image: url(img/darkNoiseTopBar.jpg) repeat-x bottom;
    font-family: Tahoma,Arial,sans-serif;
    width: 100%;
    height: 32px;
    display: flex;
}
#topbar>div {
    float: left;
    border-right: 1px solid #000;
    box-shadow: 0px 0px 3px 1px rgba(255,255,255,0.2) inset;
    padding: 7px 8px 9px 8px;
}

#game {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 32px;
    bottom: 0px;
    background-image: url(img/bgBlue.jpg);
    font-family: 'Merriweather', Georgia,serif;
}

#wood_separators {
    position: absolute;
    height: 100%;
    width: 16px;
    background: url(img/panelGradientTop.png) no-repeat top left,
                url(img/panelGradientBottom.png) no-repeat bottom left,
                url(img/panelVertical.png) repeat-y;
}

#left_panel {
    position: absolute;
    grid-column: 1;
    width: 30%;
    min-width: 100px;
    height: 100%;
    text-align: center;
    background: url(img/shadedBorders.png);
    background-size: 100% 100%;
}

#bottom_gradient {
    background: url(img/blackGradient.png) repeat-x bottom;
    top: 300px;
    height: 640px;
    position: absolute;
    left: 0px;
    right: 0px;
    
}

#cookie_numbers {
    background-color: rgba(0, 0, 0, 0.4);
}

#cookie_anchor {
    position: absolute;
    left: 50%;
    top: 40%;
}

@keyframes shine_rot {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#shine_right {
    position: absolute;
    background: url(img/shine.png) no-repeat;
    opacity: 40%;
    width: 512px;
    height: 512px;
    background-size: 100% 100%;
    margin: auto;
    margin-top: 10%;
    left: -256px;
    top: -256px;
    animation: shine_rot 25s linear infinite;
}

#shine_left {
    position: absolute;
    background: url(img/shine.png) no-repeat;
    opacity: 40%;
    width: 512px;
    height: 512px;
    background-size: 100% 100%;
    margin: auto;
    margin-top: 10%;
    left: -256px;
    top: -256px;
    animation: shine_rot 25s linear infinite;
    animation-direction: reverse;
}

@keyframes cookie_wobble {
    0%, 50% {
      transform: scale(1);
    }
    25%, 100% {
      transform: scale(1.10);
    }
}

#big_cookie {
    position: absolute;
    width: 256px;
    height: 256px;
    border-radius: 128px;
    background-image: url(img/perfectCookie.png);
    background-size: 100%;
    border: 0;
    left: -128px;
    top: -128px;
    cursor: pointer;
}

/*.big_cookie_button {
    width: 256px;
    height: 256px;
    border-radius: 128px;
    background: url(img/empty.png);
    border: 0;
    outline: 0;
    cursor: pointer;
}
Trying to find why do i even need this
*/

#middle_panel {
    position: absolute;
    left: 30%;
    right: 318px;
    top: 0;
    bottom: 0;
    min-width: 100px;
    padding-left: 16px;
    margin-right: 15px;
}

#middle_panel_buttons {
    text-align: center;
    position: relative;
    padding: 16px;
    padding-bottom: 32px;
    font-size: 16px;
    height: 60px;
    background: url(img/shadedBorders.png);
    background-size: 100% 96px;
}

#wood_separators_mid_panel {
    background: url(img/panelGradientLeft.png) no-repeat top left,
                url(img/panelGradientRight.png) no-repeat top right,
                url(img/panelHorizontal.png) repeat-x;
    position: absolute;
    width: 100%;
    height: 16px;
    left: 0px;
    right: 0px;

}

#right_panel {
    position: absolute;
    top: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#store {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

#store_title {
    position: relative;
    text-align: center;
    padding: 8px;
    width: 284px;
    font-size: 28px;
    text-shadow: 0px 1px 4px #000;
    background: url(img/blackGradientSmallTop.png) repeat-x top;
}

#upgrades {
    background: url(img/panelGradientLeft.png) no-repeat top left,
                url(img/panelGradientRight.png) no-repeat top right,
                url(img/panelHorizontal.png?v=2) repeat-x;
    position: relative;
    height: 60px;
    width: 300px;
    padding-top: 16px;
    min-height: 60px;
}

#products {
    background: url(img/panelGradientLeft.png) no-repeat top left,
                url(img/panelGradientRight.png) no-repeat top right,
                url(img/panelHorizontal.png?v=2) repeat-x;
    position: relative;
    height: 60px;
    width: 300px;

            }