html {
    font: inherit;
}

body {
    background-image: url(img/darkNoise.jpg);
    background-color: #000;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 13px;
    margin: 0px;
    height: 100%;
}

.topbar {
    background: url(img/darkNoiseTopBar.jpg);
    color: #000;
    position: absolute;
    width: 100%;
    height: 32px;
    overflow: hidden;
}

.topbar div {
}

#wrapper {
    background-image: url(img/bgBlue.jpg);
    background-position: center;
    min-width: 100vw;
}

#game {
    left: 0px;
    top: 0px;
    right: 0px;
    display: grid;
    height: 94vh;
}

#left_bar {
    grid-column: 1;
    text-align: center;
}

#vertical_panel_left {
    grid-column: 2;
}

#middle_bar {
    grid-column: 3;
}

#vertical_panel_right {
    grid-column: 4;
}

#right_bar {
    grid-column: 5;
}

