html {
    font: inherit;
}

body {
    --background-image: url(img/darkNoise.jpg);
    background-color: #000;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 13px;
    margin: 0px;
    color: #fff;
    user-select: none;
}

#topbar {
    position: absolute;
    background-image: url(img/darkNoiseTopBar.jpg);
    width: 100vw;
    height: 32px;
    overflow: hidden;
    display: flex;
}
#topbar>div {
    float: left;
    border-right: 1px solid #000;
    box-shadow: 0px 0px 3px 1px rgba(255,255,255,0.2) inset;
    padding: 7px 8px 9px 8px;
}

#game {
    position: absolute;
    top: 32px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    display: grid;
    background-image: url(img/bgBlue.jpg);
}

#wood_separators {
    height: 100%;
    width: 16px;
    background-image: url(img/panelVertical.png);
    background-repeat: repeat-y;
}

#left_bar {
    grid-column: 1;
    text-align: center;
    background-image: url(img/panelGradientTop.png);
    background-repeat: repeat-x;
}

#cookie_numbers {
    background-color: rgba(0, 0, 0, 0.4);
}

#big_cookie {
    width: 256px;
    height: 256px;
    border-radius: 128px;
    background-image: url(img/perfectCookie.png);
    background-size: 100%;
    border: 0;
    margin: auto;
    margin-top: 20%;
}

.big_cookie_button {
    width: 256px;
    height: 256px;
    border-radius: 128px;
    background: url(img/empty.png);
    border: 0;
    outline: 0;
    cursor: pointer;
}

#middle_panel {
    grid-column: 3;
}

#right_panel {
    grid-column: 5;
}