html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    font: inherit;
}

body {
    background-image: url(img/darkNoise.jpg);
    background-color: #000;
    font-family: Tahoma,Arial,sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin: 0px;
    color: #fff;
    user-select: none;
    line-height: 1;
}

#wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

#topbar {
    position: absolute;
    background-image: url(img/darkNoiseTopBar.jpg) repeat-x bottom;
    font-family: Tahoma,Arial,sans-serif;
    width: 100%;
    height: 32px;
    display: flex;
}
#topbar>div {
    float: left;
    border-right: 1px solid #000;
    box-shadow: 0px 0px 3px 1px rgba(255,255,255,0.2) inset;
    padding: 7px 8px 9px 8px;
}

#game {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 32px;
    bottom: 0px;
    background: url(img/shadedBordersSoft.png) no-repeat, url(img/bgBlue.jpg);
    background-size: 100% 100%, auto;
    font-family: 'Merriweather', Georgia,serif;
    overflow: hidden;
}

#wood_separators {
    position: absolute;
    height: 100%;
    width: 16px;
    background: url(img/panelGradientTop.png) no-repeat top left,
                url(img/panelGradientBottom.png) no-repeat bottom left,
                url(img/panelVertical.png) repeat-y;
}

#left_panel {
    font-size: 25px;
    position: absolute;
    width: 30%;
    min-width: 100px;
    height: 100%;
    text-align: center;
    background: url(img/shadedBordersSoft.png);
    background-size: 100% 100%;
    overflow: hidden;
}

#bottom_gradient {
    position: absolute;
    background: url(img/blackGradient.png) repeat-x bottom;
    top: 300px;
    height: 640px;
    left: 0px;
    right: 0px;
}
#bottom_filler{
    background: #000;
    position: absolute;
    top: 940px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#cookie_numbers {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 10%;
    padding: 2px 0px;
    width: 100%;
}
#cookie_balance {
    font-size: 28px;
    margin-top: -2px;
}

#cookie_anchor {
    position: absolute;
    left: 50%;
    top: 40%;
}

@keyframes shine_rot {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#shine {
    position: absolute;
    background: url(img/shine.png) no-repeat;
    opacity: 40%;
    width: 512px;
    height: 512px;
    background-size: 100% 100%;
    margin: auto;
    margin-top: 10%;
    left: -256px;
    top: -256px;
    animation: shine_rot 25s linear infinite;
}

#big_cookie {
    position: absolute;
    width: 256px;
    height: 256px;
    border-radius: 128px;
    background-image: url(img/perfectCookie.png);
    background-size: 100%;
    border: 0;
    left: -128px;
    top: -128px;
    cursor: pointer;
    transition: 100ms;
}
#big_cookie:hover {
    transform: scale(1.05);
}
#big_cookie:active {
    transform: scale(0.98);
}
#big_cookie_button {
    width: 256px;
    height: 256px;
    border-radius: 128px;
    background: url(img/empty.png);
    border: 0;
    outline: 0;
    cursor: pointer;
}

#middle_panel {
    position: absolute;
    left: 30%;
    right: 318px;
    top: 0;
    bottom: 0;
    min-width: 100px;
    padding-left: 16px;
    margin-right: 15px;
    overflow: hidden;
}

#middle_panel_buttons {
    text-align: center;
    position: relative;
    padding: 16px;
    padding-bottom: 32px;
    font-size: 16px;
    height: 64px;
    background: url(img/shadedBorders.png);
    background-size: 100% 96px;
}

#options {
    top: 0px;
    left: 0px;
    background-position: 0px 0px;
    padding-top: 16px;
}
#options:hover, #options:active {
    background-position: 0px -96px;
}

#stats {
    bottom: 16px;
    left: 0px;
    background-position: 0px -48px;
    padding-top: 14px;
}
#stats:hover, #stats:active {
    background-position: 0px -144px;
}

#info {
    top: 0px;
    right: 0px;
    background-position: -100px 0px;
    padding-top: 16px;
}
#info:hover, #info:active {
    background-position: -100px -96px;
}

#legacy {
    bottom: 16px;
    right: 0px;
    background-position: -100px -48px;
    padding-top: 14px;
}
#legacy:hover, #legacy:active{
    background-position: -100px -144px;
}

.woodslabs {
    background: url(img/panelMenu3.png);
    position: absolute;
    width: 100px;
    height: 48px;
    text-align: center;
    box-sizing: border-box;
    color: #999;
    cursor: pointer;
}

#wood_separators_mid_panel {
    background: url(img/panelGradientLeft.png) no-repeat top left,
                url(img/panelGradientRight.png) no-repeat top right,
                url(img/panelHorizontal.png) repeat-x;
    position: absolute;
    width: 100%;
    height: 16px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#right_panel {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#store {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

#store_title {
    position: relative;
    text-align: center;
    padding: 8px;
    width: 286px;
    font-size: 28px;
    text-shadow: 0px 1px 4px #000;
    background: url(img/blackGradientSmallTop.png) repeat-x top;
}

#upgrades {
    background: url(img/panelGradientLeft.png) no-repeat top left,
                url(img/panelGradientRight.png) no-repeat top right,
                url(img/panelHorizontal.png?v=2) repeat-x;
    position: relative;
    height: 60px;
    width: 300px;
    padding-top: 16px;
    min-height: 60px;
}

#products {
    background: url(img/panelGradientLeft.png) no-repeat top left,
                url(img/panelGradientRight.png) no-repeat top right,
                url(img/panelHorizontal.png?v=2) repeat-x;
    position: relative;
    height: auto;
    min-height: 60px;
    width: 300px;
}

#buttom {
    background: url(img/storeTile.jpg);
    position: relative;
    height: 64px;
    width: 300px;
    top: 16px;
    opacity: 60%;
    cursor: pointer;
}
#buttom:hover {
    background: url(img/shadedBorders.png) 300px 64px;
}

#cursor {
    background: url(img/buildings.png);
    width: 64px;
    height: 64px;
    background-position: -64px 0px;
}