html {
    font: inherit;
}

body {
    background-image: url(img/darkNoise.jpg);
    background-color: #000;
    font-family: Tahoma,Arial,sans-serif;
    font-size: 13px;
    max-height: 100vh;
    min-width: 100hw;
}

.topbar {
    display: block;
    background-image: url(img/darkNoiseTopBar.jpg);
    color: #000;
    position: absolute;
    width: 100%;
    height: 32px;
}

#game {
    background-image: url(img/bgBlue.jpg);
    left: 0px;
    top: 0px;
    right: 0px;
    display: grid;
    height: 94vh;
}

#left_bar {
    grid-column: 1;
}

#middle_bar {
    grid-column: 3;
}

#right_bar {
    grid-column: 5;
}

#vertical_panel_left {
    grid-column: 2;
}

#vertical_panel_right {
    grid-column: 4;
}